{% extends "web/base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{#{% block head_title %}{% trans "Sign In" %}{% endblock %}#}

{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    {#    <h1>{% trans "Sign In" %}</h1>#}

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {#        {% include "socialaccount/snippets/login_extra.html" %}#}

    {% else %}
        <h1>{% blocktrans %}
            <a href="{{ signup_url }}"><span class="glyphicon glyphicon-new-window
"></span> If you have not created an account yet, then please sign up</a>
        {% endblocktrans %}</h1>
    {% endif %}

    <div class="hero-unit">
        <div class="imgcontainer">
            <img src="https://cdn.shutterstock.com/shutterstock/videos/11303921/thumb/1.jpg"
                 class="img-responsive img-circle" style="display:inline"
                 alt="Bird" width="550" height="550">
        </div>
    </div>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="button secondaryAction"
           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>

    <footer class="bg-4">
        <p>Visit me <a href="https://www.myspace.com">www.myspace.com/</a></p>
        <div class="wrapper">
            <i class="fa fa-5x fa-facebook-square"></i>
            <i class="fa fa-5x fa-twitter-square"></i>
            <i class="fa fa-5x fa-instagram"></i>
            <i class="fa fa-5x fa-snapchat-square"></i>
        </div>
    </footer>

{% endblock %}